body {
    color: #141522;
    font-family: 'Plus Jakarta Sans';
    margin: 0 auto;
    background: #FAFAFA;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}
h1 {
    font-size: 24px;
    line-height: 150%;
}
a {
    color: #141522;
}
/* ------------------------------------------------------------------------------------ */
._wrapper {
    display: flex;
    flex-basis: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    overflow: hidden;
}
._hidden {
    display: none;
}
._container {
    padding: 32px;
}
._active-menu-iteam {
    background: #F5F5F7;
    border-radius: 10px;
    color: #141522;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title {
    font-size: 24px;
}
.slider-buttons {
    display: flex;
}
.slider-btn:first-child {
    margin-right: 8px;
}
/* --TASKBAR-LEFT---------------------------------------------------------------------------------- */
.taskbar-left {
    background-color: #fff;
}
.taskbar-left-container {
    position: relative;
    height: 100%;
}
.menu {
    margin-top: 60px;
}
.menu-list {
    color: #8E92BC;
}
.menu-list>*:not(:first-child) {
    margin-top: 24px;
}
.menu-iteam {
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
}
.menu-title {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-left: 12px;
}
.question {
    position: relative; 
    width: 100%;
    max-width: 188px;
}
.quiestion-icon {
    position: relative;
    display: block;
    z-index: 2;
    margin: 0 auto;
    transform: translateY(49px);
}
.question-body {
    position: relative;
    background: #141522;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    padding-top: 71px;
    padding-bottom: 16px;
}
.question-title {
    line-height: 150%;
    text-align: center;
}
.question-subtitle {
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    max-width: 152px;
}
.question-btn {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 0px;
    margin: 0 auto;
    margin-top: 45px;
    max-width: 156px;
}
/* --MAIN---------------------------------------------------------------------------------- */
/* --HEADER---------------------------------------------------------------------------------- */
.main {
    width: 100%;
    max-width: 752px;
}
.header {
    margin-bottom: 44px;
}
.header_container {
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}
.greeting {
}
.user_name {
    font-size: 24px;
    line-height: 150%;
    color: #141522;
    margin-bottom: 8px;
}
._header_subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #54577A;
}
.burger {
    transition: 0.5s;
}
.burger-header {
    transition: 0.5s;
}
.burger-header {
    position: relative;
    border: 1px solid #F5F5F7;
    height: 44px;
    width: 44px;
    border-radius: 100px;
    cursor: pointer;
}
.burger-iteam {
    position: absolute;
    width: 18px;
    height: 0;
    border: 1px solid #8E92BC;
    background-color: #8E92BC;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.burger-iteam::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 0;
    background-color: #8E92BC;
    border: 1px solid #8E92BC;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
}
.burger-iteam::after {
    content: '';
    position: absolute;
    width: 18px;
    background-color: #8E92BC;
    border: 1px solid #8E92BC;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
}
.burger-list {
    position: absolute;
    background: #F5F5F7;   
    border-radius: 10px; 
    transition: 0.5s;
    padding: 10px;
}
._hidden {
}
.menu-iteam {
}
._active-menu-iteam {
}
.menu-icon {
}
.menu-title {
}
.header-icon {
    display: flex;
    align-items: center;
}
.header-icon img {
    cursor: pointer;
}
.header-icon>*:not(:last-child) {
    margin-right: 38px;
}
/* --STATISTIC--------------------------------------------------------------------------------- */
.statistic {
    margin-bottom: 32px;
}
._container {
}
.statistic-container {
}
.statistic-wrapper {
    display: flex;
    justify-content: space-between;
}
.running-app {
    background: #141522;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 22px;
    width: 100%;
    max-width: 194px;
}
.running-app>*:not(:first-child) {
    margin-top: 16px;
}
.running-title {
    color: #fff;
}
.counter {
    display: block;
    color: #fff;
    font-size: 32px;
    line-height: 48px;
    margin-top: 16px;
}
.running-info {
    display: flex;
    align-items: center;
}
.running-info>div {
    margin-left: 18px;
}
.task-runing {
    display: block;
    font-size: 20px;
    color: #fff;
}
.running-info-title {
    color: #8E92BC;
    font-weight: 500;
    font-size: 14px;
}
.activity-app {
    background: #F5F5F7;
    border-radius: 10px;
    padding: 20px;
}
.activity-app>*:not(:last-child) {
    margin-bottom: 17px;
}
.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity-title {
}
.activity-select {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.select-header {
}
.select-header::after {
    content: url(./../img/main/statistic/01.svg);
    position: absolute;
    margin-left: 8px;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    transition: 0.5s;
}
.dropdown-list {
}
.dropdown-iteam {
    margin-top: 5px;
}
.activity-app img {
    cursor: pointer;
}
/* --MENTORS--------------------------------------------------------------------------------- */
.mentor {
    margin-bottom: 32px;
}
.menthor-container {
}
.menthor-body {
    margin-top: 20px;
}
.menthor-list {
    display: flex;
    justify-content: space-between;
}
.menthor-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    max-width: 328px;
}
.menthor-card>*:not(:first-child) {
    margin-top: 20px;
}
.menthor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menthor-info>div {
    display: flex;
    align-items: center;
}
.menthor-photo {
    margin-right: 8px;
}
.menthor-prof {

}
.menthor-name {
}
.card-profession {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
}
.menhor-unfollow {
    color: #546FFF;
    font-weight: 500;
    font-size: 14px;
}
.menhor-follow {
    color: #54577A;
}
.menthor-progress {
    display: flex;
    justify-content: space-between;
}
.menthor-task {
}
.star-raiting {
}
.mentor-progress-descr {
    font-weight: 500;
    font-size: 14px;
}
/* --TASK--------------------------------------------------------------------------------- */
.task {
    margin-top: 2px;
    color: #141522;
}
.task-container {
}
.task-header {
    margin-bottom: 20px;
}
.section-title {
}
.task-title {
    color: #141522;
}
.slider-btn {
    cursor: pointer;
}
.task-list {
    display: flex;
    justify-content: space-between;
}
.task-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}
.task-card>*:not(:first-child) {
    margin-top: 16px;
}
.card-name {
}
.card-prof {
}
.task-progress {
}
.progress-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.progress-title {
}
.progress-counter {
    color: #546FFF;
    font-weight: 500;
    font-size: 16px;
}
.progress-img {
}
.task-time {
    display: flex;
    justify-content: space-between;
}
.task-time>div {
    display: flex;
}
.task-time>div> img {
    margin-right: 8px;
}
/* --TASK-BAR-RIGHT--------------------------------------------------------------------------------- */
.taskbar-right {
    background: #F5F5F7;
    width: 100%;
    max-width: 436px;  
}
.task-bar-right-container {
}
.calendare {
    background-color: #fff;
    padding: 20px;
}
.calendare-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-btn {
}
.date {
}
.calendare-list {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}
.calendare-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.day {}
.number {
    font-size: 12px;
    line-height: 15px;
    width: 32px;
    padding: 8px 8px 8px 10px;
    background: #F5F5F7;
    border-radius: 100px;
    margin-top: 12px;
}
.calendare-today {
    background: #141522;
    border-radius: 22.9524px;
    color: #fff;
    padding: 6px 4px;
}
.calendare-today>.number {
    background: #546FFF;
}
.today-task {
    background-color: #fff;
    padding: 24px;
    margin-top: 32px;
    border-radius: 10px;
}
.today-task>*:not(:first-child,img) {
    margin-top: 20px;
}
.today-header {
    margin-bottom: 20px;
}
.more {
    position: relative;
    cursor: pointer;
}
.more-iteam {
    background: #141522;
    border-radius: 100%;
    width: 4px;
    height: 4px;
}
.more-iteam::before {
    position: absolute;
    content: '';
    background: #141522;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    left: -7px;
}
.more-iteam::after {
    position: absolute;
    content: '';
    background: #141522;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    margin-left: 7px;
}
.task-descr-time  {
    margin-top: 20px;
    border-bottom: 1px solid #F5F5F7;
    padding-bottom: 32px;
}
.task-descr-time {
   display: flex;
   justify-content: space-between;
}
.task-descr-time>div {
    display: flex;
    align-items: center;
}
.task-descr-time>div>img {
    margin-right: 8px;  
}
.task-descr {
    margin-top: 32px;
}
.section-header {
}
.card-name {
}
.card-profession {
}
.task-descr-list {

}
.task-descr-list>* {
    margin-top: 20px;
}
.task-iteam {
    display: flex;
    align-items: center;
}
.task-iteam-counter {
    margin-right: 12px;
}
.tasck-descr-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
.task-btn {
    display: block;
    max-width: 324px;
    background: #546FFF;
    border-radius: 10px;    
    font-size: 14px;
    color: #fff;
    padding: 12px 0px;
    text-align: center;
    margin-top: 56px;
}
/* MEDIA */
@media (max-width:1375px) {
    ._wrapper {
    }
    .main {
        position: relative;
        margin: 0 auto;
    }
    .main_container {
        padding-top: 0;
    }
    .greeting-mob {
        margin-bottom: 32px;
    }
    .header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        padding: 32px 24px;
        margin-bottom: 0;
        border-bottom: 1px solid #F5F5F7;
    }
    .header_wrapper {
        align-items: center;
    }
    .statistic {
        padding-top: 140px;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
}
@media (max-width:1155px) {
    .statistic-wrapper>*:not(:first-child) {
        margin-top: 32px;
    }
    .flex-wrap {
        justify-content: center;
    }
    .flex-wrap>*:not(:first-child,.task-card) {
        margin-top: 32px;
    }
    .running-app {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: none;
        padding-right: 32px;
    }
    .counter {
        margin-top: 20px;
    }
    .task-runing {
        color: #fff;
    }
    .activity-app {
        max-width: none;
    }
    .menthor-card {
        max-width: none;
    }
}
@media (max-width:1139px) {
    .task-card {
        width: 100%;
        max-width: 400px;
    }
    .task-card:not(:first-child) {
        margin-top: 32px;
    }
}